<a href="https://colab.research.google.com/github/jvelozag-we/AlgorithmsUN2022II/blob/main/Lab%202/jvelozag_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
pip install -U fortran-magic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fortran-magic in /usr/local/lib/python3.7/dist-packages (0.7)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from fortran-magic) (7.9.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fortran-magic) (1.21.6)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (57.4.0)
Requirement already satisfied: jedi>=0.10 in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (0.18.1)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (0.7.5)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (4.8.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (5.1.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->fortran-magic) (4.4.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->fortran-magic) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->fortran-magic) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->fortran-magic) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->fortran-magic) (0.7.0)

In [38]:
%matplotlib inline
%load_ext fortranmagic

import sys; sys.path.append('..')

import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rc('figure', figsize=(12, 7))

ran_the_first_cell = True

jan2017 = pd.to_datetime(['2017-01-03 00:00:00+00:00',
 '2017-01-04 00:00:00+00:00',
 '2017-01-05 00:00:00+00:00',
 '2017-01-06 00:00:00+00:00',
 '2017-01-09 00:00:00+00:00',
 '2017-01-10 00:00:00+00:00',
 '2017-01-11 00:00:00+00:00',
 '2017-01-12 00:00:00+00:00',
 '2017-01-13 00:00:00+00:00',
 '2017-01-17 00:00:00+00:00',
 '2017-01-18 00:00:00+00:00',
 '2017-01-19 00:00:00+00:00',
 '2017-01-20 00:00:00+00:00',
 '2017-01-23 00:00:00+00:00',
 '2017-01-24 00:00:00+00:00',
 '2017-01-25 00:00:00+00:00',
 '2017-01-26 00:00:00+00:00',
 '2017-01-27 00:00:00+00:00',
 '2017-01-30 00:00:00+00:00',
 '2017-01-31 00:00:00+00:00',
 '2017-02-01 00:00:00+00:00'])
calendar = jan2017.values.astype('datetime64[D]')

event_dates = pd.to_datetime(['2017-01-06 00:00:00+00:00', 
                             '2017-01-07 00:00:00+00:00', 
                             '2017-01-08 00:00:00+00:00']).values.astype('datetime64[D]')
event_values = np.array([10, 15, 20])

The fortranmagic extension is already loaded. To reload it, use:
  %reload_ext fortranmagic

<center>
  <h1>The PyData Toolbox</h1>
  <h3>Scott Sanderson (Twitter: @scottbsanderson, GitHub: ssanderson)</h3>
  <h3><a href="https://github.com/ssanderson/pydata-toolbox">https://github.com/ssanderson/pydata-toolbox</a></h3>
</center>

# About Me:

<img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/me.jpg" alt="Drawing" style="width: 300px;"/>

- Senior Engineer at [Quantopian](www.quantopian.com)
- Background in Mathematics and Philosophy
- **Twitter:** [@scottbsanderson](https://twitter.com/scottbsanderson)
- **GitHub:** [ssanderson](github.com/ssanderson)

## Outline

- Built-in Data Structures
- Numpy `array`
- Pandas `Series`/`DataFrame`
- Plotting and "Real-World" Analyses

# Data Structures

> Rule 5. Data dominates. If you've chosen the right data structures and organized things well, the algorithms
will almost always be self-evident. Data structures, not algorithms, are central to programming.

- *Notes on Programming in C*, by Rob Pike.

# Lists

In [39]:
assert ran_the_first_cell, "Oh noes!"

In [40]:
l = [1, 'two', 3.0, 4, 5.0, "six"]
l

[1, 'two', 3.0, 4, 5.0, 'six']

In [41]:
# Lists can be indexed like C-style arrays.
first = l[0]
second = l[1]
print("first:", first)
print("second:", second)

first: 1
second: two

In [42]:
# Negative indexing gives elements relative to the end of the list.
last = l[-1]
penultimate = l[-2]
print("last:", last)
print("second to last:", penultimate)

last: six
second to last: 5.0

In [43]:
# Lists can also be sliced, which makes a copy of elements between 
# start (inclusive) and stop (exclusive)
sublist = l[1:3]
sublist

['two', 3.0]

In [44]:
# l[:N] is equivalent to l[0:N].
first_three = l[:3]
first_three

[1, 'two', 3.0]

In [45]:
# l[3:] is equivalent to l[3:len(l)].
after_three = l[3:]
after_three

[4, 5.0, 'six']

In [46]:
# There's also a third parameter, "step", which gets every Nth element.
l = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h']
l[1:7:2]

['b', 'd', 'f']

In [47]:
# This is a cute way to reverse a list.
l[::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [48]:
# Lists can be grown efficiently (in O(1) amortized time).
l = [1, 2, 3, 4, 5]
print("Before:", l)
l.append('six')
print("After:", l)

Before: [1, 2, 3, 4, 5]
After: [1, 2, 3, 4, 5, 'six']

In [49]:
# Comprehensions let us perform elementwise computations.
l = [1, 2, 3, 4, 5]
[x * 2 for x in l]

[2, 4, 6, 8, 10]

## Review: Python Lists

- Zero-indexed sequence of arbitrary Python values.
- Slicing syntax: `l[start:stop:step]` copies elements at regular intervals from `start` to `stop`.
- Efficient (`O(1)`) appends and removes from end.
- Comprehension syntax: `[f(x) for x in l if cond(x)]`.

# Dictionaries

In [50]:
# Dictionaries are key-value mappings.
philosophers = {'David': 'Hume', 'Immanuel': 'Kant', 'Bertrand': 'Russell'}
philosophers

{'David': 'Hume', 'Immanuel': 'Kant', 'Bertrand': 'Russell'}

In [51]:
# Like lists, dictionaries are size-mutable.
philosophers['Ludwig'] = 'Wittgenstein'
philosophers

{'David': 'Hume',
 'Immanuel': 'Kant',
 'Bertrand': 'Russell',
 'Ludwig': 'Wittgenstein'}

In [52]:
del philosophers['David']
philosophers

{'Immanuel': 'Kant', 'Bertrand': 'Russell', 'Ludwig': 'Wittgenstein'}

In [53]:
# No slicing.
philosophers['Bertrand':'Immanuel']

TypeError: ignored

## Review: Python Dictionaries

- Unordered key-value mapping from (almost) arbitrary keys to arbitrary values.
- Efficient (`O(1)`) lookup, insertion, and deletion.
- No slicing (would require a notion of order).

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/pacino.gif" alt="Drawing" style="width: 100%;"/></center>

In [54]:
# Suppose we have some matrices...
a = [[1, 2, 3],
     [2, 3, 4],
     [5, 6, 7],
     [1, 1, 1]]

b = [[1, 2, 3, 4],
     [2, 3, 4, 5]]

In [55]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(A)
    cols_out = len(B[0])
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]
    
    for i in range(rows_out):
        for j in range(cols_out):
            for k in range(len(B)):
                out[i][j] += A[i][k] * B[k][j]
    return out

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/gross.gif" alt="Drawing" style="width: 50%;"/></center>

In [56]:
%%time

matmul(a, b)

CPU times: user 44 µs, sys: 0 ns, total: 44 µs
Wall time: 49.1 µs

[[5, 8, 11, 14], [8, 13, 18, 23], [17, 28, 39, 50], [3, 5, 7, 9]]

**My own example 1 - Changing in matmul(A, B) Python len(B) (# of rows of B) for len(A[0]) (# of columns of A)**

In [57]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(A)
    cols_out = len(B[0])
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]
    
    for i in range(rows_out):
        for j in range(cols_out):
            for k in range(len(A[0])):
                out[i][j] += A[i][k] * B[k][j]
    return out

**My own example 2 - Verifiying error with in matmul(A, B) Python with the original matrices when changing len(B) (# of rows of B) for len(A[0]) (# of colums of A)**

In [58]:
%%time

matmul(a, b)

IndexError: ignored

In [59]:
len(a[0])

3

**My own example 3 - Chekcing the mtarix multiplication compatibility condition  len(A[0]) == len(B)**

In [60]:
def matmul(A, B):
    """Multiply matrix A by matrix B."""
    rows_out = len(A)
    cols_out = len(B[0])
    out = [[0 for col in range(cols_out)] for row in range(rows_out)]

    if(len(a[0]) == len(b)):
       
      for i in range(rows_out):
          for j in range(cols_out):
              for k in range(len(A[0])):
                  out[i][j] += A[i][k] * B[k][j]
      return out

    else:
      print("Las condiciones de las matrices no son aptas para multiplicarse.")

**My own example 4 -  Verifiying error with in matmul(A, B) Python when checking the mtarix multiplication compatibility condition  len(A[0]) == len(B)**

In [66]:
import pandas as pd
matmul(a, b)

[[14, 20, 26, 32], [20, 29, 38, 47], [38, 56, 74, 92], [6, 9, 12, 15]]

**My own example 5 - Deifining A and B that are compatiible for multiplcation**

In [62]:
a = [[1, 2, 3],
     [2, 3, 4],
     [5, 6, 7],
     [1, 1, 1]]

b = [[1, 2, 3, 4],
     [2, 3, 4, 5],
     [3, 4, 5, 6]]

**My own example 6 - Runinng the correct Python matrix multiplication code with the matrices with dimensions compatible for multiplication.**

In [63]:
%%time

matmul(a, b)

CPU times: user 47 µs, sys: 1e+03 ns, total: 48 µs
Wall time: 52.5 µs

[[14, 20, 26, 32], [20, 29, 38, 47], [38, 56, 74, 92], [6, 9, 12, 15]]

In [64]:
import random
def random_matrix(m, n):
    out = []
    for row in range(m):
        out.append([random.random() for _ in range(n)])
    return out

randm = random_matrix(2, 3)
randm

[[0.5816151811241745, 0.9261717368740144, 0.023998361096945642],
 [0.044657197149423844, 0.22368325955469237, 0.4579264560175186]]

**My own example 7 - Running 10 times matmul(randa, randb) with randa and randb a randon matrices of 600 x 100 and 100 x 600 and calulating the average execution time**

In [65]:
import time
m=0

for i in range(0,10):
  randa = random_matrix(600, 100)
  randb = random_matrix(100, 600)  
 
  s=time.time()  
  x = matmul(randa, randb)
  e=time.time()-s
  m=m+e
m=m/10

In [67]:
m

9.923249292373658

**My own example 8 - Creating the average execution time data frame and adding Python's average execution time**

In [68]:
time_data_frame=pd.DataFrame([m],index=['Python'],columns=['Promedio tiempo'])
time_data_frame

        Promedio tiempo
Python         9.923249

**My own example 9 - Running 10 times randa and randb mutiplicaction as NumPy arrays  adding NumPy's average execution time**

In [69]:
import time
mn=0
for i in range(0,10):
  
  randa = np.array(random_matrix(600, 100))
  randb = np.array(random_matrix(100, 600) ) 
  s=time.time()  
  x=randa@randb
  e=time.time()-s
  mn=mn+e
mn=mn/10
time_data_frame=pd.DataFrame([m,mn],index=['Python','NumPy'],columns=['Promedio tiempo'])
time_data_frame

        Promedio tiempo
Python         9.923249
NumPy          0.004228

In [70]:
%%time
randa = random_matrix(600, 100)
randb = random_matrix(100, 600)
x = matmul(randa, randb)

CPU times: user 10.5 s, sys: 34.8 ms, total: 10.6 s
Wall time: 11.6 s

In [71]:
# Maybe that's not that bad?  Let's try a simpler case.
def python_dot_product(xs, ys):
    return sum(x * y for x, y in zip(xs, ys))

In [72]:
%%fortran
subroutine fortran_dot_product(xs, ys, result)
    double precision, intent(in) :: xs(:)
    double precision, intent(in) :: ys(:)
    double precision, intent(out) :: result
    
    result = sum(xs * ys)
end

In [73]:
list_data = [float(i) for i in range(100000)]
array_data = np.array(list_data)

In [74]:
%%time
python_dot_product(list_data, list_data)

CPU times: user 13.7 ms, sys: 0 ns, total: 13.7 ms
Wall time: 15.2 ms

333328333350000.0

In [75]:
%%time
fortran_dot_product(array_data, array_data)

CPU times: user 258 µs, sys: 0 ns, total: 258 µs
Wall time: 268 µs

333328333350000.0

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/sloth.gif" alt="Drawing" style="width: 1080px;"/></center>

**My own example 10 - Deifining A (2x2)  and B (2x2)**

In [76]:
A=[[7,3],
   [5,7]]
B= [[1,8],
    [3,9]]

**My own example 11 - Defining Fortran subroutine matmul(A,B) for 2x2 matrices**

In [77]:
%%fortran

subroutine  matmul(A,B,N,L,M,R)  
  implicit none
  integer,intent(in) :: N,L,M   
  double precision, intent(in) :: A(2,2)
  double precision, intent(in) :: B(2,2)
  double precision, intent(out) :: R(N,M)
  integer I,J,K
  do I=1,N  
    do J=1,M
      R(I,J)=0    
      do K=1,L
       R(I,J) = R(I,J) + A(I,K)*B(K,J)
        
      end do
    end do
  end do   
end

**My own example 12 -Run Fortran subroutine matmul(A,B) with a and b 2x2 matrices**

In [78]:
N= len(A)
M= len(B[0])
L=len(A[0])
matmul(A,B,N,L,M)

array([[ 16.,  83.],
       [ 26., 103.]])

**My own example 13 - Defining Fortran subroutine matmul(A,B) for 600x100 and 100x600 matrices**

In [79]:
%%fortran

subroutine  matmul(A,B,N,L,M,R)  
  implicit none
  integer,intent(in) :: N,L,M   
  double precision, intent(in) :: A(600,100)
  double precision, intent(in) :: B(100,600)
  double precision, intent(out) :: R(N,M)
  integer I,J,K
  do I=1,N  
    do J=1,M
      R(I,J)=0    
      do K=1,L
       R(I,J) = R(I,J) + A(I,K)*B(K,J)
        
      end do
    end do
  end do   
end

**My own example 14 -Run Fortran subroutine matmul(A,B) with 600x100 and 100x600 matrices**

In [80]:
randa = random_matrix(600,100)
randb = random_matrix(100,600)
N= len(randa)
M= len(randb[0])
L=len(randa[0])
matmul(randa,randb,N,L,M)

array([[23.0886348 , 24.87825048, 25.98695747, ..., 21.71150718,
        22.41574819, 25.64378215],
       [24.85606818, 27.59381811, 26.60192474, ..., 21.40614655,
        22.56605479, 28.44491368],
       [22.5274571 , 25.91973823, 25.776998  , ..., 20.32691662,
        22.11438469, 26.07803178],
       ...,
       [21.78475641, 22.23773684, 22.77044014, ..., 19.67395211,
        20.15934451, 24.77496273],
       [24.8053436 , 26.45673546, 26.21941317, ..., 21.66745227,
        22.15728726, 28.17091432],
       [21.41708832, 24.3815713 , 22.86235266, ..., 20.75341538,
        19.60003637, 24.46400339]])

**My own example 15 - Running 10 times the  Fortran subroutine matmul(A,B) with 600x100 and 100x600 matrices and adding Fortran magic average execution time to the data frame**

In [81]:
import time
mf=0
for i in range(0,10):
  randa = random_matrix(600,100)
  randb = random_matrix(100,600)
  N= len(randa)
  M= len(randb[0])
  L=len(randa[0])
  s=time.time()  
  matmul(randa,randb,N,L,M)
  e=time.time()-s
  mf=mf+e
mf=mf/10
time_data_frame=pd.DataFrame([m,mn,mf],index=['Python','NumPy','Fortran Magic'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102

**My own example 16 - Creating a  Fortran program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [82]:
%%fortran

subroutine  matmul10(A,B,N,L,M,R)  
  implicit none
  integer,intent(in) :: N,L,M   
  double precision, intent(in) :: A(600,100)
  double precision, intent(in) :: B(100,600)
  double precision, intent(out) :: R(N,M)
  integer I,J,K,P
  do P=0,10
   do I=1,N  
     do J=1,M
       R(I,J)=0    
        do K=1,L
        R(I,J) = R(I,J) + A(I,K)*B(K,J)
        
        end do
      end do
    end do
  end do   
end

**My own example 17 - Running the Fortran program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [83]:
randa = random_matrix(600,100)
randb = random_matrix(100,600)
N= len(randa)
M= len(randb[0])
L=len(randa[0])
s=time.time() 
matmul10(randa,randb,N,L,M)
e=time.time()-s
e=e/10

**My own example 18 - Adding Fortran average execution time to the data frame**

In [84]:
time_data_frame=pd.DataFrame([m,mn,mf,e],index=['Python','NumPy','Fortran Magic','Fortran'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102
Fortran               0.050177

**My own example 19 - Creating a c program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [85]:
%%writefile mult_matrices.c
#include "iostream"
#include<stdio.h>
#include<stdlib.h>
#include<time.h>
#include <ctime> 

using namespace std;
int main()
{

 srand(time(0));

 int matrixA[600][100], i ,j;
 
 for ( i = 0; i < 600; ++i){
   for ( j = 0;  j < 100; ++j){
    matrixA[i][j] = rand()%200;
   }
     
  }
 

int matrixB[100][600];
 for ( i = 0; i < 100; i++){
      for( j = 0;  j < 600; j++){
        matrixB[i][j] = rand()%200;
        }
  }

float mc,t0,t1;
int t, mult[600][600];
for (t = 0; t<10; t++){
 t0=clock();

 for (int i = 0; i <600 ; i++)
 {
   for (int j = 0; j < 600; j++){
       
     for (int k = 0; k < 100; k++){
         
      mult[i][j] +=  matrixA[i][k] * matrixB[k][j];
      
     }
       
   }

 }
    t1 = clock();
    double time = (double(t1-t0)/CLOCKS_PER_SEC); 
    
    mc=mc+time;
}
mc=mc/10;
cout << mc;


   return 0; 
  }

Writing mult_matrices.c

**My own example 20 - Running the c program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [86]:
!g++ mult_matrices.c && ./a.out

0.176583

**My own example 21 - Adding c average execution time to the data frame**

In [87]:
time_data_frame=pd.DataFrame([m,mn,mf,e,0.159717],index=['Python','NumPy','Fortran Magic','Fortran','C'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102
Fortran               0.050177
C                     0.159717

**My own example 22 - Creating a C++ program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [88]:
%%writefile mult_matrices.cpp
#include "iostream"
#include<stdio.h>
#include<stdlib.h>
#include<time.h>
#include <ctime> 

using namespace std;
int main()
{

 srand(time(0));

 int matrixA[600][100], i ,j;
 
 for ( i = 0; i < 600; ++i){
   for ( j = 0;  j < 100; ++j){
    matrixA[i][j] = rand()%200;
   }
     
  }
 

int matrixB[100][600];
 for ( i = 0; i < 100; i++){
      for( j = 0;  j < 600; j++){
        matrixB[i][j] = rand()%200;
        }
  }

float mc,t0,t1;
int t, mult[600][600];
for (t = 0; t<10; t++){
 t0=clock();

 for (int i = 0; i <600 ; i++)
 {
   for (int j = 0; j < 600; j++){
       
     for (int k = 0; k < 100; k++){
         
      mult[i][j] +=  matrixA[i][k] * matrixB[k][j];
      
     }
       
   }

 }
    t1 = clock();
    double time = (double(t1-t0)/CLOCKS_PER_SEC); 
    
    mc=mc+time;
}
mc=mc/10;
cout << mc;


   return 0; 
  }

Writing mult_matrices.cpp

**My own example 23 - Running the C++ program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [89]:

!g++ mult_matrices.cpp && ./a.out

0.164869

**My own example 24 - Adding C++ average execution time to the data frame**

In [90]:
time_data_frame=pd.DataFrame([m,mn,mf,e,0.159717,0.160875],index=['Python','NumPy','Fortran Magic','Fortran','C','C++'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102
Fortran               0.050177
C                     0.159717
C++                   0.160875

**My own example 25 - Creating a Java program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [91]:
%%writefile Main.java
import java.util.concurrent.*;
class Main{
  public static void main(String[] args){
    long media = 0;
    double respuesta = 0;
    int contador = 0;
    //matrices
    int a [][]= new int[600][100];
    int b [][] =new int[100][600];
    for(int x=0; x<a.length;x++){
      for(int y=0;y<a[x].length;y++){
        a[x][y] = (int) (Math.random()*999+1);
          }
        }
    for(int x=0; x<b.length;x++){
      for(int y=0;y<b[x].length;y++){
        b[x][y] = (int) (Math.random()*999+1);
          }
        } 
    int[][] c = new int[a.length][b[0].length];
    for(contador=0;contador<10;contador++){
      long tiempo1 =System.currentTimeMillis();
      for(int i=0;i<c.length;i++){
          for(int j=0;j<c[0].length;j++){
            for(int k=0;k<b.length;k++){
              c[i][j]+=a[i][k]*b[k][j]; 
            }
          }
        }
      long tiempo2=System.currentTimeMillis();
      long tiempofinal = tiempo2 - tiempo1;
      media += tiempofinal;      
      
    } 
    respuesta= (media/10);
    respuesta= respuesta*(0.001);
    System.out.println(respuesta); 
  }
}

Writing Main.java

**My own example 26 - Running the Java program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [92]:
!javac Main.java

In [93]:
!java Main

0.055

**My own example 27 - Adding Java average execution time to the data frame**

In [94]:
time_data_frame=pd.DataFrame([m,mn,mf,e,0.159717,0.160875,0.044],index=['Python','NumPy','Fortran Magic','Fortran','C','C++','Java'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102
Fortran               0.050177
C                     0.159717
C++                   0.160875
Java                  0.044000

**My own example 28 - Creating a Javascript program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [95]:
%%writefile tmp.js

var MatrizA = []

for (var i = 0; i < 600; i++) {
  a=Array.from({length: 100}, () => (Math.random() * 80));
  MatrizA.push(a)
}
var MatrizB = []
for (var i = 0; i < 100; i++) {
  x=Array.from({length: 600}, () => (Math.random() * 80));
  MatrizB.push(x)
}
tiempito=0
for(i=0; i<10;i++){
    var start = new Date().getTime();
    var matm= new Array(MatrizA.length);
      for (x=0; x<matm.length;x++)
        matm[x] = new Array(MatrizB[0].length).fill(0);
      for (x=0; x < matm.length; x++) {
        for (y=0; y < matm[x].length; y++) {                                
            for (z=0; z<MatrizA[0].length; z++) {
               matm [x][y] = matm [x][y] + MatrizA[x][z]*MatrizB[z][y]; 
        }
    }
}
    var end = new Date().getTime();
    tiempito +=(end-start)
}
console.log(`Average time: ${tiempito/10} ms`)

Writing tmp.js

**My own example 29 - Running the Javascript program that mutiplies 10 times A(600x100) and  B (100x600) matrices**

In [96]:
!node tmp.js

Average time: 351.6 ms

**My own example 30 - Adding Javascript average execution time to the data frame**

In [97]:
time_data_frame=pd.DataFrame([m,mn,mf,e,0.159717,0.160875,0.044,0.15339477],index=['Python','NumPy','Fortran Magic','Fortran','C','C++','Java','JavaScript'],columns=['Promedio tiempo'])
time_data_frame

               Promedio tiempo
Python                9.923249
NumPy                 0.004228
Fortran Magic         0.052102
Fortran               0.050177
C                     0.159717
C++                   0.160875
Java                  0.044000
JavaScript            0.153395

**My own example 31 - Finding the minimun average esecuiton time in the data frame**

In [98]:
min=time_data_frame['Promedio tiempo'].min()
min

0.004227757453918457

**My own example 32 - Adding the Speed factor columne to the data frame**

In [99]:
fac=(time_data_frame['Promedio tiempo']/min) 
time_data_frame['Speed factor']=fac

time_data_frame

               Promedio tiempo  Speed factor
Python                9.923249   2347.166175
NumPy                 0.004228      1.000000
Fortran Magic         0.052102     12.323823
Fortran               0.050177     11.868428
C                     0.159717     37.778184
C++                   0.160875     38.052088
Java                  0.044000     10.407409
JavaScript            0.153395     36.282774

**My own example 33 - Sorting the the data frame by average execution time**

In [100]:
time_data_frame=time_data_frame.sort_values('Promedio tiempo')
time_data_frame

               Promedio tiempo  Speed factor
NumPy                 0.004228      1.000000
Java                  0.044000     10.407409
Fortran               0.050177     11.868428
Fortran Magic         0.052102     12.323823
JavaScript            0.153395     36.282774
C                     0.159717     37.778184
C++                   0.160875     38.052088
Python                9.923249   2347.166175

## Why is the Python Version so Much Slower?

In [101]:
# Dynamic typing.
def mul_elemwise(xs, ys):
    return [x * y for x, y in zip(xs, ys)]

mul_elemwise([1, 2, 3, 4], [1, 2 + 0j, 3.0, 'four'])
#[type(x) for x in _]

[1, (4+0j), 9.0, 'fourfourfourfour']

In [102]:
# Interpretation overhead.
source_code = 'a + b * c'
bytecode = compile(source_code, '', 'eval')
import dis; dis.dis(bytecode)

  1           0 LOAD_NAME                0 (a)
              2 LOAD_NAME                1 (b)
              4 LOAD_NAME                2 (c)
              6 BINARY_MULTIPLY
              8 BINARY_ADD
             10 RETURN_VALUE

## Why is the Python Version so Slow?
- Dynamic typing means that every single operation requires dispatching on the input type.
- Having an interpreter means that every instruction is fetched and dispatched at runtime.
- Other overheads:
  - Arbitrary-size integers.
  - Reference-counted garbage collection.

> This is the paradox that we have to work with when we're doing scientific or numerically-intensive Python. What makes Python fast for development -- this high-level, interpreted, and dynamically-typed aspect of the language -- is exactly what makes it slow for code execution.

- Jake VanderPlas, [*Losing Your Loops: Fast Numerical Computing with NumPy*](https://www.youtube.com/watch?v=EEUXKG97YRw)

# What Do We Do?

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/runaway.gif" alt="Drawing" style="width: 50%;"/></center>

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/thisisfine.gif" alt="Drawing" style="width: 1080px;"/></center>

- Python is slow for numerical computation because it performs dynamic dispatch on every operation we perform...

- ...but often, we just want to do the same thing over and over in a loop!

- If we don't need Python's dynamicism, we don't want to pay (much) for it.

- **Idea:** Dispatch **once per operation** instead of **once per element**.

In [ ]:
import numpy as np

data = np.array([1, 2, 3, 4])
data

In [ ]:
data + data

In [ ]:
%%time
# Naive dot product
(array_data * array_data).sum()

In [ ]:
%%time
# Built-in dot product.
array_data.dot(array_data)

In [ ]:
%%time
fortran_dot_product(array_data, array_data)

In [ ]:
# Numpy won't allow us to write a string into an int array.
data[0] = "foo"

In [ ]:
# We also can't grow an array once it's created.
data.append(3)

In [ ]:
# We **can** reshape an array though.
two_by_two = data.reshape(2, 2)
two_by_two

Numpy arrays are:

- Fixed-type

- Size-immutable

- Multi-dimensional

- Fast\*

\* If you use them correctly.

# What's in an Array?

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6], dtype='int16').reshape(2, 3)
print("Array:\n", arr, sep='')
print("===========")
print("DType:", arr.dtype)
print("Shape:", arr.shape)
print("Strides:", arr.strides)
print("Data:", arr.data.tobytes())

# Core Operations

- Vectorized **ufuncs** for elementwise operations.
- Fancy indexing and masking for selection and filtering.
- Aggregations across axes.
- Broadcasting

# UFuncs

UFuncs (universal functions) are functions that operate elementwise on one or more arrays.

In [ ]:
data = np.arange(15).reshape(3, 5)
data

In [ ]:
# Binary operators.
data * data

In [ ]:
# Unary functions.
np.sqrt(data)

In [ ]:
# Comparison operations
(data % 3) == 0

In [ ]:
# Boolean combinators.
((data % 2) == 0) & ((data % 3) == 0)

In [ ]:
# as of python 3.5, @ is matrix-multiply
data @ data.T

# UFuncs Review

- UFuncs provide efficient elementwise operations applied across one or more arrays.
- Arithmetic Operators (`+`, `*`, `/`)
- Comparisons (`==`, `>`, `!=`)
- Boolean Operators (`&`, `|`, `^`)
- Trigonometric Functions (`sin`, `cos`)
- Transcendental Functions (`exp`, `log`)

# Selections

We often want to perform an operation on just a subset of our data.

In [ ]:
sines = np.sin(np.linspace(0, 3.14, 10))
cosines = np.cos(np.linspace(0, 3.14, 10))
sines

In [ ]:
# Slicing works with the same semantics as Python lists.
sines[0]

In [ ]:
sines[:3]  # First three elements

In [ ]:
sines[5:]  # Elements from 5 on.

In [ ]:
sines[::2]  # Every other element.

In [ ]:
# More interesting: we can index with boolean arrays to filter by a predicate.
print("sines:\n", sines)
print("sines > 0.5:\n", sines > 0.5)
print("sines[sines > 0.5]:\n", sines[sines > 0.5])

In [ ]:
# We index with lists/arrays of integers to select values at those indices.
print(sines)
sines[[0, 4, 7]]

In [ ]:
# Index arrays are often used for sorting one or more arrays.
unsorted_data = np.array([1, 3, 2, 12, -1, 5, 2])

In [ ]:
sort_indices = np.argsort(unsorted_data)
sort_indices

In [ ]:
unsorted_data[sort_indices]

In [ ]:
market_caps = np.array([12, 6, 10, 5, 6])  # Presumably in dollars?
assets = np.array(['A', 'B', 'C', 'D', 'E'])

In [ ]:
# Sort assets by market cap by using the permutation that would sort market caps on ``assets``.
sort_by_mcap = np.argsort(market_caps)
assets[sort_by_mcap]

In [ ]:
# Indexers are also useful for aligning data.
print("Dates:\n", repr(event_dates))
print("Values:\n", repr(event_values))
print("Calendar:\n", repr(calendar))

In [ ]:
print("Raw Dates:", event_dates)
print("Indices:", calendar.searchsorted(event_dates))
print("Forward-Filled Dates:", calendar[calendar.searchsorted(event_dates)])

On multi-dimensional arrays, we can slice along each axis independently.

In [ ]:
data = np.arange(25).reshape(5, 5)
data

In [ ]:
data[:2, :2]  # First two rows and first two columns.

In [ ]:
data[:2, [0, -1]]  # First two rows, first and last columns.

In [ ]:
data[(data[:, 0] % 2) == 0]  # Rows where the first column is divisible by two.

# Selections Review

- Indexing with an integer removes a dimension.
- Slicing operations work on Numpy arrays the same way they do on lists.
- Indexing with a boolean array filters to True locations.
- Indexing with an integer array selects indices along an axis.
- Multidimensional arrays can apply selections independently along different axes.

## Reductions

Functions that reduce an array to a scalar.

$Var(X) = \frac{1}{N}\sqrt{\sum_{i=1}^N (x_i - \bar{x})^2}$

In [ ]:
def variance(x):
    return ((x - x.mean()) ** 2).sum() / len(x)

In [ ]:
variance(np.random.standard_normal(1000))

- `sum()` and `mean()` are both **reductions**.

- In the simplest case, we use these to reduce an entire array into a single value...

In [ ]:
data = np.arange(30)
data.mean()

- ...but we can do more interesting things with multi-dimensional arrays.

In [ ]:
data = np.arange(30).reshape(3, 10)
data

In [ ]:
data.mean()

In [ ]:
data.mean(axis=0)

In [ ]:
data.mean(axis=1)

## Reductions Review

- Reductions allow us to perform efficient aggregations over arrays.
- We can do aggregations over a single axis to collapse a single dimension.
- Many built-in reductions (`mean`, `sum`, `min`, `max`, `median`, ...).

# Broadcasting

In [ ]:
row = np.array([1, 2, 3, 4])
column = np.array([[1], [2], [3]])
print("Row:\n", row, sep='')
print("Column:\n", column, sep='')

In [ ]:
row + column

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/broadcasting.png" alt="Drawing" style="width: 60%;"/></center>

<h5>Source: http://www.scipy-lectures.org/_images/numpy_broadcasting.png</h5>

In [ ]:
# Broadcasting is particularly useful in conjunction with reductions.
print("Data:\n", data, sep='')
print("Mean:\n", data.mean(axis=0), sep='')
print("Data - Mean:\n", data - data.mean(axis=0), sep='')

# Broadcasting Review

- Numpy operations can work on arrays of different dimensions as long as the arrays' shapes are still "compatible".
- Broadcasting works by "tiling" the smaller array along the missing dimension.
- The result of a broadcasted operation is always at least as large in each dimension as the largest array in that dimension.

# Numpy Review

- Numerical algorithms are slow in pure Python because the overhead dynamic dispatch dominates our runtime.

- Numpy solves this problem by:
  1. Imposing additional restrictions on the contents of arrays.
  2. Moving the inner loops of our algorithms into compiled C code.

- Using Numpy effectively often requires reworking an algorithms to use vectorized operations instead of for-loops, but the resulting operations are usually simpler, clearer, and faster than the pure Python equivalent.

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/unicorn.jpg" alt="Drawing" style="width: 75%;"/></center>

Numpy is great for many things, but...

- Sometimes our data is equipped with a natural set of **labels**:
  - Dates/Times
  - Stock Tickers
  - Field Names (e.g. Open/High/Low/Close)

- Sometimes we have **more than one type of data** that we want to keep grouped together.
  - Tables with a mix of real-valued and categorical data.

- Sometimes we have **missing** data, which we need to ignore, fill, or otherwise work around.

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/panda-wrangling.gif" alt="Drawing" style="width: 75%;"/></center>

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/pandas_logo.png" alt="Drawing" style="width: 75%;"/></center>

Pandas extends Numpy with more complex data structures:

- `Series`: 1-dimensional, homogenously-typed, labelled array.
- `DataFrame`: 2-dimensional, semi-homogenous, labelled table.

Pandas also provides many utilities for: 
- Input/Output
- Data Cleaning
- Rolling Algorithms
- Plotting

# Selection in Pandas

In [ ]:
s = pd.Series(index=['a', 'b', 'c', 'd', 'e'], data=[1, 2, 3, 4, 5])
s

In [ ]:
# There are two pieces to a Series: the index and the values.
print("The index is:", s.index)
print("The values are:", s.values)

In [ ]:
# We can look up values out of a Series by position...
s.iloc[0]

In [ ]:
# ... or by label.
s.loc['a']

In [ ]:
# Slicing works as expected...
s.iloc[:2]

In [ ]:
# ...but it works with labels too!
s.loc[:'c']

In [ ]:
# Fancy indexing works the same as in numpy.
s.iloc[[0, -1]]

In [ ]:
# As does boolean masking.
s.loc[s > 2]

In [ ]:
# Element-wise operations are aligned by index.
other_s = pd.Series({'a': 10.0, 'c': 20.0, 'd': 30.0, 'z': 40.0})
other_s

In [ ]:
s + other_s

In [ ]:
# We can fill in missing values with fillna().
(s + other_s).fillna(0.0)

In [ ]:
# Most real datasets are read in from an external file format.
aapl = pd.read_csv('AAPL.csv', parse_dates=['Date'], index_col='Date')
aapl.head()

In [ ]:
# Slicing generalizes to two dimensions as you'd expect:
aapl.iloc[:2, :2]

In [ ]:
aapl.loc[pd.Timestamp('2010-02-01'):pd.Timestamp('2010-02-04'), ['Close', 'Volume']]

# Rolling Operations

<center><img src="https://raw.githubusercontent.com/ssanderson/pydata-toolbox/master/notebooks/images/rolling.gif" alt="Drawing" style="width: 75%;"/></center>

In [ ]:
aapl.rolling(5)[['Close', 'Adj Close']].mean().plot();

In [ ]:
# Drop `Volume`, since it's way bigger than everything else.
aapl.drop('Volume', axis=1).resample('2W').max().plot();

In [ ]:
# 30-day rolling exponentially-weighted stddev of returns.
aapl['Close'].pct_change().ewm(span=30).std().plot();

# "Real World" Data

In [ ]:
!git clone https://github.com/ssanderson/pydata-toolbox

In [ ]:
!git clone <urlOfRepository>

In [ ]:
!pip install githubdl

In [ ]:
!githubdl

In [ ]:
from io import BytesIO
import os
from urllib.parse import urlencode

import requests
import numpy as np
import pandas as pd


def read_avocadata(start_date, end_date, cache_loc='avocadata.html'):
    """Download avocado data to a dataframe.
    Parameters
    ----------
    """
    start_date = pd.Timestamp(start_date)
    end_date = pd.Timestamp(end_date)
    base_url = 'https://www.marketnews.usda.gov/mnp/fv-report-retail'
    query_params = {
        'class': ['FRUITS'],
        'commodity': ['AVOCADOS'],
        'compareLy': ['No'],
        'endDate': [end_date.strftime("%m/%d/%Y")],
        'format': ['excel'],
        'organic': ['ALL'],
        'portal': ['fv'],
        'region': ['ALL'],
        'repDate': [start_date.strftime("%m/%d/%Y")],
        'type': ['retail'],
    }

    url = base_url + '?' + urlencode(query_params, doseq=1)

    if not os.path.exists(cache_loc):
        resp = requests.get(url, stream=True)
        resp.raise_for_status()

        with open(cache_loc, 'wb') as f:
            for block in resp.iter_content(chunk_size=4096):
                f.write(block)
        f.close()

    with open(cache_loc, 'rb') as f:
        frame = pd.read_html(f, header=0)[0]

    # Cleanup
    frame = frame[frame['Unit'] == 'each']
    frame['Organic'] = (frame['Organic'] == 'Y')
    frame['Variety'].replace(
        {'VARIOUS GREENSKIN VARIETIES': 'GREENSKIN'},
        inplace=True,
    )
    frame['Date'] = pd.to_datetime(frame['Date'].values, utc=True)

    frame['Region'] = frame['Region'].str.replace(' U.S.', '')
    frame['Region'] = frame['Region'].str.replace(' ', '_')

    # Drop useless columns.
    return frame.drop(
        ['Class', 'Commodity', 'Environment', 'Unit', '% Marked Local'],
        axis=1,
    )

In [ ]:

avocados = read_avocadata('2014', '2016')
avocados.head()

In [ ]:
# Unlike numpy arrays, pandas DataFrames can have a different dtype for each column.
avocados.dtypes

In [ ]:
# What's the regional average price of a HASS avocado every day?
hass = avocados[avocados.Variety == 'HASS']
hass.groupby(['Date', 'Region'])['Weighted Avg Price'].mean().unstack().ffill().plot();

In [ ]:
def _organic_spread(group):

    if len(group.columns) != 2:
        return pd.Series(index=group.index, data=0.0)
    
    is_organic = group.columns.get_level_values('Organic').values.astype(bool)
    organics = group.loc[:, is_organic].squeeze()
    non_organics = group.loc[:, ~is_organic].squeeze()
    diff = organics - non_organics
    return diff

def organic_spread_by_region(df):
    """What's the difference between the price of an organic 
    and non-organic avocado within each region?
    """
    return (
        df
        .set_index(['Date', 'Region', 'Organic'])
         ['Weighted Avg Price']
        .unstack(level=['Region', 'Organic'])
        .ffill()
        .groupby(level='Region', axis=1)
        .apply(_organic_spread)
    )

In [ ]:
organic_spread_by_region(hass).plot();
plt.gca().set_title("Daily Regional Organic Spread");
plt.legend(bbox_to_anchor=(1, 1));

In [ ]:
spread_correlation = organic_spread_by_region(hass).corr()
spread_correlation

In [ ]:
import seaborn as sns
grid = sns.clustermap(spread_correlation, annot=True)
fig = grid.fig
axes = fig.axes
ax = axes[2]
ax.set_xticklabels(ax.get_xticklabels(), rotation=45);

**Análisis similar a avocados pero con datos de SABER TyT**

Para ejecutar descargar el archivo en https://www.datos.gov.co/Educaci-n/Resultados-nicos-Saber-TyT/iwgf-bkfk

*   Elemento de lista

*   Elemento de lista
*   Elemento de lista


*   Elemento de lista

In [ ]:
import pandas as pd
Saber_TyT = pd.read_csv("Resultados__nicos_Saber_TyT.csv",decimal=',')
Saber_TyT

In [ ]:
Saber_TyT.head()

In [ ]:
Saber_TyT.dtypes

In [ ]:
estu_prgm_depto = Saber_TyT[Saber_TyT.ESTU_PRGM_DEPARTAMENTO == 'BOGOTÁ']
estu_prgm_depto.groupby(['INST_CARACTER_ACADEMICO', 'MOD_INGLES_DESEM'])['MOD_LECTURA_CRITICA_PUNT'].mean().unstack().ffill().plot();

In [ ]:
regiones= ["SANTANDER", "GUAVIARE", "BOGOTÁ", "CUNDINAMARCA","CASANARE", "CAUCA","ARAUCA", "MAGDALENA"]
colombia = Saber_TyT[Saber_TyT["ESTU_DEPTO_RESIDE"].isin(regiones)]

colombia =colombia.drop("FAMI_TIENECOMPUTADOR", axis=1)

In [ ]:
import seaborn as sns
regiones= ["SANTANDER", "GUAVIARE", "BOGOTÁ", "CUNDINAMARCA","CASANARE", "CAUCA","ARAUCA", "MAGDALENA"]
colombia = Saber_TyT[Saber_TyT["ESTU_DEPTO_RESIDE"].isin(regiones)]


newcolombia = colombia[["MOD_LECTURA_CRITICA_PUNT","MOD_INGLES_PUNT"]]

colomcorr= newcolombia.corr()
grid = sns.clustermap(colomcorr, annot=True)
fig = grid.fig
axes = fig.axes
ax = axes[2]
ax.set_xticklabels(ax.get_xticklabels(), rotation=45);
 ##nada tiene que ver una cosa con la otra

# Pandas Review

- Pandas extends numpy with more complex datastructures and algorithms.
- If you understand numpy, you understand 90% of pandas.
- `groupby`, `set_index`, and `unstack` are powerful tools for working with categorical data.
- Avocado prices are surprisingly interesting :)

# Thanks!